# Python
__pycache__/
.pytest_cache/
.venv/
venv/
poetry.lock
pyrightconfig.json

# Rust
debug/
target/
Cargo.lock

# Node
node_modules/
build/
.output/
.vercel/
.svelte-kit/
package-lock.json

# Environment
.env
.env.*
!.env.example

# Misc.
dl-tmp/
.ropeproject/
.ds_store
