# Python
__pycache__/
.venv/
venv/
poetry.lock

# Rust
debug/
target/
Cargo.lock

# Node
node_modules/
build/
.output/
.vercel/
.svelte-kit/
package-lock.json

# Environment
.env
.env.*
!.env.example

# Misc.
.ropeproject/
.ds_store
