@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
    @apply leading-normal tracking-normal scroll-smooth;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
  }

  pre,
  code,
  kbd {
    font-family: "DM Mono", monospace;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply text-indigo-700;
  }

  a:hover,
  a:focus {
    @apply text-indigo-600;
  }

  a:focus {
    @apply outline-none underline;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  header {
    @apply flex flex-row items-center bg-white;
    height: 80px;
  }

  :focus {
    @apply outline outline-2 outline-offset-2;
    @apply outline-indigo-700 rounded;
  }
}

@layer components {
  .sidebar-toggle-button {
    @apply p-2 rounded bg-gray-100 text-gray-500;
  }

  .sidebar-toggle-button:hover {
    @apply bg-gray-100;
  }

  .alert-container {
    @apply fixed bottom-0 right-0 w-full;
    @apply flex flex-col p-3;
  }

  @screen md {
    .alert-container {
      width: 420px;
    }
  }
}
