@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-white text-gray-800;
    @apply leading-normal tracking-normal;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
  }

  pre,
  code,
  kbd {
    font-family: "DM Mono", monospace;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  header {
    @apply flex flex-row items-center bg-white;
    height: 80px;
  }
}

@layer components {
  .alert-container {
    @apply fixed bottom-0 right-0 w-full;
    @apply flex flex-col p-3;
  }

  @screen md {
    .alert-container {
      width: 450px;
    }
  }
}
